<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de usuário</title>
</head>

<body>

    <div>
        <h2>Cadastro de Usuário</h2>
        <form method="POST" action="{{ url_for('register') }}">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" value="{{ request.form['name'] }}"  required minlength="3">
            {% if errors.name %} <span class="error">{{ errors.name }}</span> {% endif %}

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required minlength="8" maxlength="12">
            {% if errors.password %}<span class="error">{{ errors.password }}</span>{% endif %}

            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>

